/*----------------------*/
/* Propriétés générales */
/*----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
}

body > * {
  /*permet de retirer la largeur de la scrollbar et maintenir la maquette centrée*/
  width: 100%;
  padding: 0 calc(4vw - (100vw - 100%) / 2);
}

h1,
h2 {
  /*h1 titre slogan, h2 titre section/article/aside*/
  font-size: 1.64vw;
  font-weight: 700;
}

h3,
input,
label {
  /*titre filtre, afficher plus, titres footer, boutons*/
  font-size: 1.37vw;
  font-weight: 700;
}

h4 {
  /*titre des cartes*/
  font-size: 1.23vw;
  font-weight: 700;
}

p,
li {
  font-size: 1.23vw;
}

.vignette__legende p {
  font-size: 1.1vw;
}


@media only screen and (min-width:500px) and (max-width: 799px) {
  h1,
  h2 {
    /*h1 titre slogan, h2 titre section/article/aside*/
    font-size: 2.4vw;
    font-weight: 700;
  }
  
  h3,
  input,
  label {
    /*titre filtre, afficher plus, titres footer, boutons*/
    font-size: 2vw;
    font-weight: 700;
  }
  
  h4 {
    /*titre des cartes*/
    font-size: 1.8vw;
    font-weight: 700;
  }
  
  p,
  li {
    font-size: 1.8vw;
  }
  
  .vignette__legende p {
    font-size: 1.6vw;
  }
}

@media only screen and (max-width: 499px) {
  body > * {
    padding: 0 5.6vw; /*pas de scrollbar ici*/
  }

  h1,
  h2 {
    /*h1 titre slogan, h2 titre section/article/aside*/
    font-size: 5.8vw;
  }

  h3,
  h4,
  input {
    /*titre filtre, afficher plus et titres footer*/ /*titre des cartes*/
    font-size: 4.6vw;
  }
  label {
    font-size: 4vw;
  }

  p,
  li {
    font-size: 4vw;
  }

  .vignette__legende p {
    font-size: 3.6vw;
  }
}

/*--------------------------------------*/
/* Propriété des éléments dans le header*/
/*--------------------------------------*/

#header {
  display: flex;
  justify-content: space-between;
  height: 8.7vw;
  align-items: center;
}

#logoSite {
  flex: 1; /*Permet d'envoyer le menu et le lien d'inscription à droite de la page*/
  align-self: flex-start;
  padding-top: 3.42vw;
}

#logoSite img {
  width: 6.51vw;
}

#menu {
  display: flex;
}

/*Les balises <a> sont passées en block flex avec taille fixée pour que le lien soit
cliquable sur la totalité de la surface et que le texte soit centré à l'intérieur*/

#menu a {
  width: 10.96vw;
  height: 8.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu a:nth-child(1) {
  color: #0065fc;
  border-top: 0.14vw #0065fc solid;
  border-bottom: 0.14vw rgba(0, 0, 0, 0) solid; /*pour ne pas décaler l'alignement vertical*/
}

#inscription a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.53vw;
  height: 8.7vw;
  color: #0065fc;
  font-weight: bold;
}

@media only screen and (min-width:500px) and (max-width: 799px) {
  #header {
    height: 12.7vw;
  }
  
  #logoSite {
    padding-top: 5vw;
  }
  
  #logoSite img {
    width: 9.5vw;
  }
  
  #menu a {
    width: 16vw;
    height: 12.7vw;
  }
  
  #menu a:nth-child(1) {
    border-width: 0.2vw;
  }

  #inscription a {
    width: 11vw;
    height: 12.7vw;
  }

}

@media only screen and (max-width: 499px) {
  #header {
    height: 35.46vw;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-bottom: 9.33vw;
  }

  #logoSite {
    flex-grow: unset;
    align-self: unset;
    padding-top: unset;
  }

  #logoSite img {
    width: 25.6vw;
  }

  #menu {
    order: 3;
    width: 100vw;
    margin-left: -5.6vw; /*compense le padding du header*/
  }

  #menu a {
    width: 50vw;
    height: 16.8vw;
    border-top: none;
    border-bottom: 0.8vw #f2f2f2 solid;
  }

  #menu a:nth-child(1) {
    color: #0065fc;
    border-top: none;
    border-bottom: 0.8vw #0065fc solid;
  }

  #inscription a {
    width: unset;
    height: unset;
  }
}

/*-------------------------------------------------*/
/* Propriété des éléments dans la section recherche*/
/*-------------------------------------------------*/

#recherche {
  margin-bottom: 2.53vw;
}

#slogan {
  margin-bottom: 1.3vw;
}

#slogan h1 {
  padding-bottom: 0.75vw;
}

#barreRecherche {
  height: 3.42vw;
  display: flex;
  align-items: center;
  width: 28.77vw;
  margin-bottom: 2.12vw;
}

#logoLocaliser {
  width: 3.56vw;
  height: 3.42vw;
  padding: 1.1vw 1.37vw;
  background-color: #f2f2f2;
  border: 0.07vw #f2f2f2 solid;
  border-radius: 0.82vw 0 0 0.82vw;
}

#inputRecherche {
  height: 3.42vw;
  width: 16.03vw;
  padding: 1.23vw;
  border: 0.07vw #f2f2f2 solid;
  overflow: hidden;
}

#inputRecherche::placeholder {
  color: black;
}

#submitRecherche {
  padding: 0 1.23vw;
  background-color: #0065fc;
  color: white;
  border: 0.07vw #0065fc solid;
  border-radius: 0 0.82vw 0.82vw 0;
  overflow: hidden;
  height: 3.42vw;
  cursor: pointer;
}

#logoRecherche {
  display: none; /*ne sert que pour la version mobile*/
}

#filtres {
  margin-bottom: 2.4vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.boutonFiltre {
  display: none; /*On cache la case de la checkbox*/
}

.boutonFiltre + label {
  display: flex;
  height: 3.42vw;
  margin-left: 1.64vw;
  align-items: center;
  border: 0.14vw #f2f2f2 solid;
  border-radius: 1.71vw;
  padding-right: 1.51vw;
  white-space: nowrap;
  cursor: pointer;
}

.boutonFiltre + label:hover {
  box-shadow: 0 0 0.5vw #0065fc;
}

/*Non demandé dans l'énoncé*/
.boutonFiltre:checked + label {
  background-color: #deebff;
  border-color: #deebff;
}

.logoFiltre {
  height: 3.42vw;
  width: 3.42vw;
  border-radius: 1.71vw;
  background-color: #deebff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.89vw;
  margin-left: -0.14vw; /*Compense la bordure*/
}

.logoFiltre img {
  width: 1.44vw;
  height: 1.44vw;
  margin: auto;
}

#nbResultats {
  display: flex;
  align-items: center;
}

#nbResultats div {
  width: 1.64vw;
  height: 1.64vw;
  border: 0.07vw #f2f2f2 solid;
  border-radius: 0.82vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.82vw;
}

#nbResultats img {
  width: 0.82vw;
  height: 0.82vw;
}

@media only screen and (min-width:500px) and (max-width: 799px) {
  #recherche {
    margin-bottom: 3.7vw;
  }
  
  #slogan {
    margin-bottom: 1.9vw;
  }
  
  #slogan h1 {
    padding-bottom: 1.1vw;
  }
  
  #barreRecherche {
    height: 5vw;
    width: 42vw;
    margin-bottom: 3.1vw;
  }
  
  #logoLocaliser {
    width: 5.2vw;
    height: 5vw;
    padding: 1.6vw 2vw;
    border-width: 0.1vw;
    border-radius: 1.2vw 0 0 1.2vw;
  }
  
  #inputRecherche {
    height: 5vw;
    width: 23.4vw;
    padding: 1.8vw;
    border-width: 0.1vw;
  }
  
  #submitRecherche {
    padding: 0 1.8vw;
    border-width: 0.1vw;
    border-radius: 0 1.2vw 1.2vw 0;
    height: 5vw;
  }
  
  #filtres {
    margin-bottom: 3.5vw;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #filtres h3 {
    width: 92vw; /*prend toute la largeur, force à aller à la ligne*/
    margin-bottom: 1vw;
  }
  
  .boutonFiltre + label {
    height: 5vw;
    margin-left: 0vw;
    margin-right: 2.4vw;
    border-width: 0.2vw;
    border-radius: 2.5vw;
    padding-right: 2.5vw;
  }
  
  .boutonFiltre + label:last-child {
    margin-right: 0; /* pour que ça rentre sur une ligne*/
  }

  .logoFiltre {
    height: 5vw;
    width: 5vw;
    border-radius: 2.5vw;
    margin-right: 1.3vw;
    margin-left: -0.2vw; /*Compense la bordure*/
  }
  
  .logoFiltre img {
    width: 2.1vw;
    height: 2.1vw;
  }
  
  #nbResultats div {
    width: 2.4vw;
    height: 2.4vw;
    border-width: 0.1vw;
    border-radius: 1.2vw;
    margin-right: 1.2vw;
  }
  
  #nbResultats img {
    width: 1.2vw;
    height: 1.2vw;
  }

}

@media only screen and (max-width: 499px) {
  #recherche {
    margin-bottom: 9.6vw;
  }

  #slogan {
    margin-bottom: 9.07vw;
  }

  #slogan h1 {
    padding-bottom: 4vw;
  }

  #barreRecherche {
    height: 13.6vw;
    display: flex;
    align-items: center;
    width: 88.8vw;
    margin-bottom: 10vw;
  }

  #logoLocaliser {
    width: 13.86vw;
    height: 13.6vw;
    padding: 4.53vw 5.07vw;
    border-width: 0.27vw;
    border-radius: 3.47vw 0 0 3.47vw;
  }

  #inputRecherche {
    height: 13.6vw;
    width: 65.3vw;
    padding: 4.8vw;
    border-width: 0.27vw;
  }

  #submitRecherche {
    display: none;
  }

  #logoRecherche {
    display: unset;
    width: 13.6vw;
    height: 13.6vw;
    padding: 4.53vw;
    background-color: #0065fc;
    border: 0.27vw #0065fc solid;
    border-radius: 3.47vw;
    margin-left: -3.47vw; /*pour recouvrir l'input*/
  }

  #filtres {
    margin-bottom: 4.8vw; /*tient compte de la marge des boutons filtres*/
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #filtres h3 {
    width: 88.8vw; /*prend toute la largeur, force à aller à la ligne*/
    margin-bottom: 4vw;
  }

  .boutonFiltre + label {
    height: 13.33vw;
    margin-left: unset;
    border-width: 0.53vw;
    border-radius: 6.67vw;
    padding-right: 4.8vw;
    margin-bottom: 3.47vw;
    margin-right: 2.93vw;
  }

  .logoFiltre {
    height: 13.33vw;
    width: 13.33vw;
    border-radius: 6.67vw;
    margin-right: 3.2vw;
    margin-left: -0.53vw; /*Compense la bordure*/
  }

  .logoFiltre img {
    width: 5.6vw;
    height: 5.6vw;
    margin: auto;
  }

  #nbResultats {
    justify-content: space-between;
    align-items: flex-start;
  }

  #nbResultats div {
    width: 6.4vw;
    height: 6.4vw;
    border-width: 0.27vw;
    border-radius: 3.2vw;
    margin-right: unset;
  }

  #nbResultats img {
    width: 3.2vw;
    height: 3.2vw;
  }

  #nbResultats p {
    width: 78.67vw;
    margin-top: 0.8vw; /*Pour aligner sur le logo i*/
  }
}

/*----------------------------------------------------*/
/* Propriété des éléments dans la section hébergements*/
/*----------------------------------------------------*/

#heberg {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 4.45vw;
}

#hebergPrincipal,
#hebergPop {
  background-color: #f2f2f2;
  border-radius: 1.1vw;
}

#hebergPrincipal {
  width: 60.27vw;
}

#hebergPop {
  width: 28.77vw;
  position: relative; /*Pour le placement du logo en haut à droite*/
}

#heberg h2 {
  margin: 3.22vw 2.88vw 0.55vw 2.88vw;
}

#hebergPrincipal h3 {
  margin: 2.67vw 2.88vw 3.15vw 2.88vw;
}

#listeHebergPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0 2.88vw;
}

#listeHebergPop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

/*Les balises <a> sont passées en block flex avec taille fixée pour que le lien soit
cliquable sur la totalité de la surface et que le texte soit centré à l'intérieur*/

.vignette {
  /*conteneur de la carte*/
  border: 0.21vw white solid;
  border-radius: 1.16vw;
  background-color: white;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0.21vw 0.82vw #ddd; /*couleur qui donne un effet proche de la maquette*/
}

#hebergPrincipal .vignette {
  width: 16.85vw;
  height: 13.63vw;
  margin: 1.05vw 0; /* marge latérale gérée par flex align content*/
  flex-direction: column;
}

#hebergPop .vignette {
  width: 23.49vw;
  height: 9.86vw;
  margin: 1.05vw 0;
  flex-direction: row;
}

.vignette__image {
  object-fit: cover;
}

#hebergPrincipal .vignette__image {
  width: 100%;
  height: 59.5%;
}

#hebergPop .vignette__image {
  width: 38%;
  height: 100%;
}

.vignette__legende {
  /*conteneur de la légende de la carte*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hebergPrincipal .vignette__legende {
  width: 100%;
  height: 40.5%;
  padding: 0.82vw 0.89vw 0.55vw 0.89vw; /*il faut prendre en compte l'épaisseur de la bordure de la vignette pour la marge basse*/
}

#hebergPop .vignette__legende {
  width: 62%;
  height: 100%;
  padding: 1.16vw 1.44vw 0.75vw 1.44vw;
}

#hebergPop .vignette__legende h4 {
  margin-bottom: 0.41vw;
}

.vignette__legende__note {
  height: 0.82vw;
  margin-top: 0.15vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.vignette__legende__note img {
  width: 0.82vw;
  height: 0.82vw;
  margin-right: 0.14vw;
}

#hebergPop__logo {
  width: 1.51vw;
  position: absolute;
  top: 3.01vw;
  right: 2.67vw;
}

@media only screen and (min-width:500px) and (max-width: 799px) {
  #heberg {
    justify-content: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 6.5vw;
  }
  
  #hebergPrincipal,
  #hebergPop {
    background-color: #f2f2f2;
    border-radius: 1.16vw;
  }
  
  #hebergPrincipal {
    width: 100%;
  }
  
  #hebergPop {
    width: 100%;
    position: relative; /*Pour le placement du logo en haut à droite*/
    margin-bottom: 3.7vw;
    padding-bottom: 2vw;
  }
  
  #heberg h2 {
    margin: 4.7vw 4.2vw 0.8vw 4.2vw;
  }
  
  #hebergPrincipal h3 {
    margin: 2vw 4.2vw 4vw 4.2vw;
  }
  
  #listeHebergPrincipal {
    margin: 0 4.2vw;
  }
  
  #listeHebergPop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 0 4.2vw;
  }
  
  /*Les balises <a> sont passées en block flex avec taille fixée pour que le lien soit
  cliquable sur la totalité de la surface et que le texte soit centré à l'intérieur*/
  
  .vignette {
    /*conteneur de la carte*/
    border-width: 0.3vw;
    border-radius: 1.7vw;
    box-shadow: 0 0.3vw 1.2vw #ddd; /*couleur qui donne un effet proche de la maquette*/
  }
  
  #hebergPrincipal .vignette {
    width: 25.2vw;
    height: 19.9vw;
    margin: 1.5vw 0; 
  }
  
  #hebergPop .vignette {
    width: 25.2vw; /*idem heberg principal*/
    height: 14.4vw; /*on garde la même hauteur que version desktop*/
    margin: 1.5vw 0;
  }
  
  #hebergPrincipal .vignette__legende {
    padding: 1.2vw 1.3vw 0.8vw 1.3vw; /*il faut prendre en compte l'épaisseur de la bordure de la vignette pour la marge basse*/
  }
  
  #hebergPop .vignette__legende {
    width: 62%;
    height: 100%;
    padding: 0.7vw 1.2vw 0.7vw 1.2vw; /*modifié pour que le texte rentre mieux*/
  }
  
  #hebergPop .vignette__legende h4 {
    margin-bottom: 0.2vw;
  }
  
  .vignette__legende__note {
    height: 1.2vw;
    margin-top: 0.4vw;
  }
  
  .vignette__legende__note img {
    width: 1.2vw;
    height: 1.2vw;
    margin-right: 0.2vw;
  }
  
  #hebergPop__logo {
    width: 2.2vw;
    top: 4.4vw;
    right: 3.9vw;
  }
}

@media only screen and (max-width: 499px) {
  #heberg {
    justify-content: flex-start;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    margin-bottom: 8vw;
  }
  
  #hebergPrincipal,
  #hebergPop {
    border-radius: none;
    width: 100%;
  }
  
  #hebergPrincipal {
    background-color: unset;
  }

  #hebergPop {
    margin-bottom: 10.9vw;
    margin-left: -5.6vw; /*compense le padding général pour que le background color couvre toute la largeur*/
    margin-right: -5.6vw;
    width: 100vw;
    padding : 10vw 5.6vw 8.5vw 5.6vw;/*on remet le padding général à gauche et droite*/
  }
  
  #heberg h2 {
    margin: 0 0 3.5vw 0;
  }
  
  #hebergPrincipal h3 {
    margin: 7.5vw 0 3.2vw 0;
  }

  #listeHebergPrincipal {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    margin: 0;
    width: 100%;
  }
  
  .vignette {
    border-width: 1.33vw;
    border-radius: 4.53vw;
    box-shadow: 0 0.8vw 3.2vw #ddd;
  }
  
  #hebergPrincipal .vignette {
    width: 100%;
    height: 53.33vw;
    margin: 1.6vw 0;
  }
  
  #hebergPop .vignette {
    width: 100%;
    height: 38.4vw;
    margin: 1.3vw 0;
  }
  
  #hebergPrincipal .vignette__legende {
    padding: 2.93vw 2.93vw 1.46vw 2.93vw; /*il faut prendre en compte l'épaisseur de la bordure de la vignette pour la marge basse*/
  }
  
  #hebergPop .vignette__legende {
    width: 62%;
    height: 100%;
    padding: 3.73vw 5.6vw 2.4vw 5.6vw;
  }
  
  #hebergPop .vignette__legende h4 {
    margin-bottom: 1.87vw;
  }
  
  .vignette__legende__note {
    height: 3.2vw;
    margin-top: 0.5vw;
  }
  
  .vignette__legende__note img {
    width: 3.2vw;
    height: 3.2vw;
    margin-right: 0.53vw;
  }
  
  #hebergPop__logo {
    width: 5.6vw;
    top: 10.93vw;
    right: 5.6vw;
  }


}

/*-------------------------------------------------*/
/* Propriété des éléments dans la section activités*/
/*-------------------------------------------------*/

#activites {
  margin-bottom: 4.18vw;
}

#listeActi {
  height: 33.5vw; /*taille de la plus grande vignette + 2fois la marge*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

/*Reprise d'une partie des propriétés des vignettes hébergements*/
#activites .vignette {
  width: 20.68vw;
  border: none;
  flex-direction: column;
  margin: 1.51vw 0; /*en latéral la marge est gérée par flex align content*/
  height: 30.48vw;
  position: relative;
}

#activites .vignette__legende {
  width: 100%;
  height: 3.77vw;
  padding-top: 0.21vw;
  line-height: 3.56vw; /*height moins padding = centrage quasi-vertical du text dans sa box*/
  z-index: 2; /*par dessus la photo*/
  position: absolute;
  bottom: 0;
  background-color: white;
  padding-left: 1.37vw;
}

#activites .vignette__image {
  height: 100%;
  border-radius: 0 0 1.37vw 1.37vw; /*Pour éviter d'avoir un pixel qui dépasse en bas des carte sous la légende*/
}

/*dimensionnement des vignettes pour qu'elles tiennent à 2 par colonne*/
/*total hauteur colonne à 30.48 dont 2 marges à 1.51 => 27.46*/
#activites .vignette:nth-child(2) {
  height: 16.16vw;
}
#activites .vignette:nth-child(3) {
  height: 11.3vw;
}
#activites .vignette:nth-child(5) {
  height: 13.29vw;
}
#activites .vignette:nth-child(6) {
  height: 14.17vw;
}

@media only screen and (min-width:500px) and (max-width: 799px) {
  #activites {
    margin-bottom: 3.1vw;
  }
  
  #listeActi {
    height: 53.3vw; /*free (total carte + 4 marge*/)
  }
  
  #activites .vignette {
    width: 27.3vw; 
    margin: 2.2vw 0;
    height: 44.5vw; /*taille max, sera réduite 1 par 1 (disposition 3 colonne 2 lignes)*/
  }
  
  #activites .vignette__legende {
    height: 5.5vw;
    padding-top: 0.3vw;
    line-height: 5.2vw; /*height moins padding = centrage quasi-vertical du text dans sa box*/
    padding-left: 2vw;/*free*/
  }
  
  #activites .vignette__image {
    border-radius: 0 0 2vw 2vw; /*Pour éviter d'avoir un pixel qui dépasse en bas des carte sous la légende*/
  }
  
  /*dimensionnement des vignettes pour qu'elles tiennent à 2 par colonne*/
  /*total hauteur colonne à 44.5 (+ 4 marges à 2.2 => 53.3)*/
  /*legende hauteur de 5.5*/
  #activites .vignette:nth-child(1) {
    height: 28vw;
  }
  #activites .vignette:nth-child(2) {
    height:16.5vw;
  }
  #activites .vignette:nth-child(3) {
    height: 17vw;
  }
  #activites .vignette:nth-child(4) {
    height: 27.5vw;
  }
  #activites .vignette:nth-child(5) {
    height: 23vw;
  }
  #activites .vignette:nth-child(6) {
    height: 21.5vw;
  }
}

@media only screen and (max-width: 499px) {
  #activites {
    margin-bottom: 10vw;
  }

  #activites h2 {
    margin-bottom: 4vw;
  }

  #listeActi {
    height: unset;
    flex-wrap: nowrap;
    align-content: flex-start;
  }

  /*Reprise d'une partie des propriétés des vignettes hébergements*/
  #activites .vignette {
    width: 100%;
    margin: 3.2vw 0;
    height: 50.67vw;
  }

  #activites .vignette__legende {
    height: 14.93vw;
    padding-top: 0.8vw;
    line-height: 14.13vw; /*height moins padding = centrage quasi-vertical du text dans sa box*/
    padding-left: 5.33vw;
  }

  #activites .vignette__image {
    height: 100%;
    border-radius: 0 0 10vw 10vw; /*Pour éviter d'avoir un pixel qui dépasse en bas des carte sous la légende*/
  }

  /*dimensionnement des vignettes pour qu'elles tiennent à 2 par colonne*/
  /*total hauteur colonne à 30.48 dont 2 marges à 1.51 => 27.46*/
  #activites .vignette:nth-child(2),
  #activites .vignette:nth-child(3),
  #activites .vignette:nth-child(5),
  #activites .vignette:nth-child(6) {
    height: 50.67vw;
  }
}

/*--------------------------------------*/
/* Propriété des éléments dans le footer*/
/*--------------------------------------*/

footer {
  padding-top: 3.29vw;
  padding-bottom: 3.42vw;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

footer div {
  width: 33.33%;
}

footer h3 {
  padding-bottom: 1.58vw;
}

footer div ul {
  list-style: none;
}

footer li {
  padding-bottom: 1.03vw;
}

@media only screen and (min-width:500px) and (max-width: 799px) {
  footer {
    padding-top: 4.8vw;
    padding-bottom: 5vw;
  }
  
  footer div {
    width: 27.3vw; /*même largeur que les vignettes*/
  }
  
  footer h3 {
    padding-bottom: 2.3vw;
  }
  
  footer li {
    padding-bottom: 1.5vw;
  }
}

@media only screen and (max-width: 499px) {
  footer {
    padding-top: 6.8vw;
    padding-bottom: none; /*la marge basse des 3 ul fera l'affaire*/
    flex-direction: column;
    justify-content: flex-start;
  }

  footer div {
    width: 100%;
    margin: 6vw 0;
    padding-left: 2.13vw;
  }

  footer h3 {
    padding-bottom: 4vw;
  }

  footer li {
    padding-bottom: 3vw;
  }
}
