/*----------------------*/
/* Propriétés générales */
/*----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
   font-family: 'Raleway', sans-serif;
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

body {
   width : fill;
   margin: auto;
}

h1, h2 {
   font-size: 13px;
   font-weight: 700;
}

h3{
   font-size: 12px;
   font-weight: 700;
   padding: 5px 0 5px 0;
}


h4 {
   font-size: 10px;
   font-weight: 700;
}


p {
   font-size: 10px;

}

li {
   font-size: 11px;
   padding: 5px 0 5px 0;
}

/*--------------------------------------*/
/* Propriété des éléments dans le header*/
/*--------------------------------------*/

#header {
   padding: 0 3.5vw;
   display: flex;
   justify-content: space-between;
   height: 8.5vw;
   align-items: center;
}

#logoSite {
   flex:1; /*Permet d'envoyer le menu et le lien d'inscription à droite de la page*/
}

#logoSite img{
   width: 100px; /*laissé fixe*/
}

#menu{
   display: flex;
}

/*Les balises <a> sont passées en block flex avec taille fixée pour que le lien soit
cliquable sur la totalité de la surface et que le texte soit centré à l'intérieur*/

#menu a{
   width: 11vw;
   height: 8.5vw;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
}

#menu a:nth-child(1){
   color:#0065FC;
   border-top: 2px #0065FC solid;
   border-bottom: 2px rgba(0, 0, 0, 0) solid; /*pour ne pas décaler l'alignement vertical*/
}

#inscription a{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 7.5vw;
   height: 8.5vw;
   color: #0065FC;
   font-weight: bold;
}


/*-------------------------------------------------*/
/* Propriété des éléments dans la section recherche*/
/*-------------------------------------------------*/


#recherche {
   padding: 0 3.5vw;
   white-space: nowrap;
}

#slogan {
   padding-bottom : 1.7vW;
}

#barreRecherche {
   height: 3.5vw; 
   display: flex;
   align-items: center;
   width: 29vw;
}


#logoLocaliser{
   width: 3.5vw;
   height: 3.5vw;
   padding: 1.1vw;
   background-color: #F2F2F2;
   border: 1px #F2F2F2 solid;
   border-radius: 1.1vw 0 0 1.1vw;
}

#inputRecherche {
   height : 3.5vw;
   width : 16.5vw; 
   padding : 1.1vw;
   font-size: 1.3vw;
   font-weight: 700;
   border: 1px #F2F2F2 solid; 
   overflow: hidden;
}

#submitRecherche {
   padding: 0 1.1vw;
   background-color: #0065FC;
   color: white;
   font-size: 1.3vw;
   font-weight: 700;
   border: 1px #0065FC solid;
   border-radius: 0 1.1vw 1.1vw 0;
   overflow: hidden;
   height: 3.5vw;
   cursor: pointer;
}

#logoRecherche{
   display: none; /*ne sert que pour la version mobile*/
   width: 20px;
   height: 20px; 
 }

#filtres{
   padding: 2.2vw 0;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   
}


.boutonFiltre {
   display: none; /*On cache la case de la radio*/
}

.boutonFiltre + label {
   display: flex;
   height: 3.5vw;
   Margin-left: 1.6vw;
   align-items: center;
   border : 2px #F2F2F2 solid;
   border-radius: 1.75vw;
   font-size: 1.3vw;
   font-weight: 700;
   padding-right: 1.1vw;
   white-space: nowrap ;
}

.logoFiltre {
   height: 3.5vw;
   width: 3.5vw;
   min-width: 3.5vw; /*sinon en zoomant la bulle s'applatit (cause flexbox)*/
   border-radius: 1.75vw;
   background-color: #deebff;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 1.1vw;
   margin-left: -2px; /*Compense la bordure*/
}


.logoFiltre img {
   width: 1.4vw;
   height: 1.4vw;
   margin: auto;
 }


#nbResultats {
   padding:  0 0 2.5vw 0;
   display: flex;
   align-items: center;
   white-space: nowrap;
}

#nbResultats div {
   min-width: 1.6vw; /*sinon en zoomant la bulle s'applatit (cause flexbox)*/
   width: 1.6vw;
   height: 1.6vw;
   border: 1px #F2F2F2 solid;
   border-radius: 0.8VW;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 1vw;
}

#nbResultats img{
   width: 0.8vw;
   height: 0.8vw;
 }





/*----------------------------------------------------*/
/* Propriété des éléments dans la section hébergements*/
/*----------------------------------------------------*/

#hebergPrincipal {
   margin: 0 0.7vw 0 3.5vw;
   background-color: #F2F2F2;
   border-radius: 1vw;
   max-width: 61.1vw;
   padding: 1.6vw;
}

#hebergPrincipal h2 {
   padding: 1.5vw 1vw 1vw 1vw;
}

#hebergPrincipal h3 {
   padding: 1vw 1vw 1.8vw 1vw;
}

#listeHebergPrincipal {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-content: flex-start;
}

/*Les balises <a> sont passées en block flex avec taille fixée pour que le lien soit
cliquable sur la totalité de la surface et que le texte soit centré à l'intérieur*/

.vignetteHeberg { /*conteneur de la carte*/
   border: 3px white solid;
   border-radius: 1.1vw;
   background-color: white;
   overflow: hidden;
   width: 17vw;
   height: 14vw;
   margin: 1vw;
}

.vignetteHeberg__Image {
   width: 100%;
   height: 57%;
   object-fit: cover;
}

.vignetteHeberg__Legende { /*conteneur de la légende de la carte*/
   width: 100%;
   height: 43%;
   padding: 0 0.8vw;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.vignetteHeberg__Legende p {
 font-size: 9px;
}

.vignetteHeberg__Note { /*l'ensemble des 5 images étoiles*/

}

.vignetteHeberg__Note img {
    width: 0.8vw;
    height: 0.8vw; 
 }














 .vignetteActi__Image {
    width: 300px; 
 }



/*--------------------------------------*/
/* Propriété des éléments dans le footer*/
/*--------------------------------------*/

footer {
   padding: 3.5vw 3.5vw 3.8vw 3.5vw;
   background-color: #F2F2F2;
   display: flex;
   justify-content: flex-start;
}



footer div:nth-child(1) {
   padding-right: 15.6vw;
}

footer div:nth-child(2) {
   padding-right: 20.1vw;
}

footer div a {
   color: black;
}

footer div ul{
   list-style: none;
}