/*----------------------*/
/* Propriétés générales */
/*----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
   font-family: 'Raleway', sans-serif;
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: black;
}


body {
   width : fill;
   margin: auto;
}

h1, h2 { /*h1 titre slogan, h2 titre section/article/aside*/
   font-size: 1.6vw;
   font-weight: 700;
}

h3{ /*titre filtre, afficher plus et titres footer*/
   font-size: 1.3vw;
   font-weight: 700;
   /*padding variable selon section*/
}


h4 { /*titre des cartes*/
   font-size: 1.2vw;
   font-weight: 700;
}


p {
   font-size: 1.2vw;
}

.vignette__legende p {
   font-size: 1vw;
}

input {
   font-size: 1.3vw;
}
label {
   font-size: 1.3vw;
}


li { /*footer*/
   font-size: 1.2vw;
}

/*--------------------------------------*/
/* Propriété des éléments dans le header*/
/*--------------------------------------*/

#header {
   padding: 0 3.5vw;
   display: flex;
   justify-content: space-between;
   height: 8.8vw;
   align-items: center;
}

#logoSite {
   flex:1; /*Permet d'envoyer le menu et le lien d'inscription à droite de la page*/
   align-self: flex-start;
   padding-top: 3.5vw;
}


#logoSite img{
   width: 6.6vw;
}

#menu{
   display: flex;
}

/*Les balises <a> sont passées en block flex avec taille fixée pour que le lien soit
cliquable sur la totalité de la surface et que le texte soit centré à l'intérieur*/

#menu a{
   width: 11vw;
   height: 8.8vw;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
}

#menu a:nth-child(1){
   color:#0065FC;
   border-top: 0.175vw #0065FC solid;
   border-bottom: 0.175vw rgba(0, 0, 0, 0) solid; /*pour ne pas décaler l'alignement vertical*/
}

#inscription a{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 7.5vw;
   height: 8.8vw;
   color: #0065FC;
   font-weight: bold;
}


/*-------------------------------------------------*/
/* Propriété des éléments dans la section recherche*/
/*-------------------------------------------------*/


#recherche {
   margin: 0 3.5vw;
   white-space: nowrap;
}

#slogan {
   margin-bottom : 1.3vW;
}

#slogan h1 {
   padding-bottom: 0.5vw;
}

#barreRecherche {
   height: 3.5vw; 
   display: flex;
   align-items: center;
   width: 29vw;
   margin-bottom : 2.1vW;
}


#logoLocaliser{
   width: 3.5vw;
   height: 3.5vw;
   padding: 1.1vw;
   background-color: #F2F2F2;
   border: 0.1vw #F2F2F2 solid;
   border-radius: 1.1vw 0 0 1.1vw;
}

#inputRecherche {
   height : 3.5vw;
   width : 16.5vw; 
   padding : 1.1vw;
   font-weight: 700;
   border: 0.1vw #F2F2F2 solid; 
   overflow: hidden;
}

#submitRecherche {
   padding: 0 1.1vw;
   background-color: #0065FC;
   color: white;
   font-weight: 700;
   border: 0.1vw #0065FC solid;
   border-radius: 0 1.1vw 1.1vw 0;
   overflow: hidden;
   height: 3.5vw;
   cursor: pointer;
}

#logoRecherche{
   display: none; /*ne sert que pour la version mobile*/
   width: 20px;
   height: 20px; 
 }

#filtres{
   margin-bottom : 2.3vW;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   
}


.boutonFiltre {
   display: none; /*On cache la case de la radio*/
}

.boutonFiltre + label {
   display: flex;
   height: 3.5vw;
   Margin-left: 1.6vw;
   align-items: center;
   border : 0.175vw #F2F2F2 solid;
   border-radius: 1.75vw;
   font-weight: 700;
   padding-right: 1.1vw;
   white-space: nowrap ;
}

.logoFiltre {
   height: 3.5vw;
   width: 3.5vw;
   min-width: 3.5vw; /*sinon en zoomant la bulle s'applatit (cause flexbox)*/
   border-radius: 1.75vw;
   background-color: #deebff;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 1.1vw;
   margin-left: -2px; /*Compense la bordure*/
}


.logoFiltre img {
   width: 1.4vw;
   height: 1.4vw;
   margin: auto;
 }


#nbResultats {
   margin-bottom: 2.5vw;
   display: flex;
   align-items: center;
   white-space: nowrap;
}

#nbResultats div {
   min-width: 1.6vw; /*sinon en zoomant la bulle s'applatit (cause flexbox)*/
   width: 1.6vw;
   height: 1.6vw;
   border: 0.1vw #F2F2F2 solid;
   border-radius: 0.8VW;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 1vw;
}

#nbResultats img{
   width: 0.8vw;
   height: 0.8vw;
 }





/*----------------------------------------------------*/
/* Propriété des éléments dans la section hébergements*/
/*----------------------------------------------------*/

#heberg {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
   margin-bottom : 4.1vw;
}

#hebergPrincipal, #hebergPop {
   
   background-color: #F2F2F2;
   border-radius: 1.1vw;
}

#hebergPrincipal {
   width: 61.1vw;
   margin: 0 1.3vw 0 3.5vw;
}

#hebergPop {
   width: 29.1vw;
   margin: 0 3.5vw 0 1.3vw;
   position: relative; /*Pour le placement du logo en haut à droite*/
}

#heberg h2 {
   margin: 3.2vw 2.7vw 0.5vw 2.7vw;
}

#hebergPrincipal h3 {
   margin: 2vw 2.7vw 3.1vw 2.7vw;
}

#listeHebergPrincipal {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-content: flex-start;
   margin: 0 1.7vw;
}

#listeHebergPop {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: nowrap;
   align-items: center;
}


/*Les balises <a> sont passées en block flex avec taille fixée pour que le lien soit
cliquable sur la totalité de la surface et que le texte soit centré à l'intérieur*/

.vignette { /*conteneur de la carte*/
   border: 0.25vw white solid;
   border-radius: 1.1vw;
   background-color: white;
   overflow: hidden;
   display: flex;
   box-shadow: 0 0.2vw 0.8vw #ddd; /*couleur qui donne un effet proche de la maquette*/
}

#hebergPrincipal .vignette { 
   width: 17vw;
   height: 14vw;
   margin: 1vw 0.75vw; /* si marge latérale à 1 aussi, bug d'arrondi fait passé sur 3 lignes, flex spacebetween permet de se mettre au max de marge*/
   flex-direction: column;
}

#hebergPop .vignette { 
   width: 23.5vw;
   height: 10vw;
   margin : 1vw 0;
   flex-direction: row;

}

.vignette__image {
   object-fit: cover;
}

#hebergPrincipal .vignette__image {
   width: 100%;
   height: 59.5%;
}

#hebergPop .vignette__image {
   width: 38%;
   height: 100%;
}

.vignette__legende { /*conteneur de la légende de la carte*/
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

#hebergPrincipal .vignette__legende {
   width: 100%;
   height: 40.5%;
   padding :0.7vw 0.8vw 0.45vw 0.8vw; /*il faut prendre en compte l'épaisseur de la bordure de la vignette pour la marge basse*/
}



#hebergPop .vignette__legende { 
   width: 62%;
   height: 100%;
   padding: 1vw 1.5vw 0.6vw 1.5vw;
}

#hebergPop .vignette__legende h4 {
   margin-bottom: 0.4vw;
}

.vignette__legende__note {
   height: 0.8vw;
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: flex-start;
}

.vignette__legende__note img {
    width: 0.8vw;
    height: 0.8vw; 
    margin-right: 0.2vw;
 }


 #hebergPop__logo{
    width: 1.5vw;
    position: absolute;
    top: 3.1vw;
    right:2.7vw;
 }






/*-------------------------------------------------*/
/* Propriété des éléments dans la section activités*/
/*-------------------------------------------------*/

#activites {
   margin-bottom: 4.1vw;

}

#activites h2 {
   margin: 0 3.5vw;
}

#listeActi {
   margin: 2vw 1.9vW; /*en latéral prend en cmpte marge des vignettes pour arriver à 3.5*/
   height: 34.11vw; /*taille de la plus grande vignette + 2fois la marge*/
   max-width: 100%; /*normalement 100-2*1.9 = 96.2vw*/
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}


/*Reprise d'une partie des propriétés des vignettes hébergements*/
#activites .vignette{
   width: 20.8vw;
   border: none;
   flex-direction: column;
   margin: 1.6vw;
   height: 30.9vw;
   position: relative;
}


#activites .vignette__legende {
   width: 100%;
   height: 3.75vw;
   padding-top: 0.2vw;
   line-height: 3.55vw; /*height moins padding = centrage quasi-vertical du text dans sa box*/
   z-index: 2; /*par dessus la photo*/
   position: absolute;
   bottom: 0;
   background-color: white;
   padding-left: 1.4vw;
}

#activites .vignette__image {
   height: 100%;
   border-radius: 0 0 1.5vw 1.5vw; /*Pour éviter d'avoir un pixel qui dépasse en bas des carte sous la légende*/
}

/*dimensionnement des vignettes pour qu'elles tiennent à 2 par colonne*/
/*total hauteur colonne à 30.9 dont 2 marges à 1.6 => 27.7*/
#activites .vignette:nth-child(2){
   height: 16.3vw;
}
#activites .vignette:nth-child(3){
   height: 11.4vw;
}
#activites .vignette:nth-child(5){
   height: 13.35vw;
}
#activites .vignette:nth-child(6){
   height: 14.35vw;
}


/*--------------------------------------*/
/* Propriété des éléments dans le footer*/
/*--------------------------------------*/

footer {
   padding: 3.2vw 3.5vw 3.5vw 3.5vw;
   background-color: #F2F2F2;
   display: flex;
   justify-content: space-between;
}

footer div {
   width: 33.33%;
}

footer h3 {
   padding-bottom: 1.3vw;
}

footer div ul{
   list-style: none;
}

footer li {
   padding-bottom: 0.7vw;
}